@import url(../Styles/common.css);
@import url(../Styles/Components/button.css);
@import url(../Styles/Components/image.css);

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  background: var(--bg-primary);
  color: var(--text-color-1);
}

.main-header {
  align-items: center;
  justify-content: space-between;
  box-shadow: rgb(40 44 51 / 20%) 0px 4px 4px;
}

.main-nav-links {
  display: flex;
}

.main-nav-link a:hover {
  color: var(--primary-color);
}

.main-nav-link a .active {
  color: var(--primary-color);
}

.main-container {
  height: max-content;
  align-items: center;
  justify-content: space-evenly;
}

.main-section {
  align-items: center;
  justify-content: space-around;
}

.hero-text-container {
  width: 30rem;
}

.hero-image-container {
  width: 30rem;
  height: auto;
}

.footer-container {
  background: var(--black-6);
  color: var(--black-1);
  align-items: center;
}

.footer-container a {
  color: var(--black-1);
}

.btn {
  box-shadow: rgb(0 0 0 / 28%) 0px 4px 10px;
}

@media screen and (max-width: 468px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1044px) {
  .main-section {
    flex-direction: column;
    max-width: 80vw;
  }
  .hero-text-container,
  .hero-image-container {
    max-width: inherit;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #000000d9;
    --text-color-1: #ffffff;
    --text-color-2: #000000d9;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #ffffff;
    --text-color-1: #000000d9;
    --text-color-2: #ffffff;
  }
}
