.btn {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.75rem 1.5rem;
}

.btn-primary,
.btn-link-solid {
  background-color: var(--primary-color);
  color: var(--bg-primary);
  border-radius: 8px;
}

.btn-outline {
  box-sizing: border-box;
  color: var(--black-3);
  border: var(--black-3) 1px solid;
  background: var(--bg-primary);
  border-radius: 8px;
}

.btn-link {
  font-size: 1.5rem;
  color: var(--blue-1);
  text-decoration: underline 2px;
}

.btn img {
  width: 1.25rem;
}

.btn-icon-label {
  background: var(--primary-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  color: var(--bg-primary);
}

.btn-icon-label div {
  margin-left: 8px;
}

.btn-fab {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: var(--blue-2);
  padding: 0;
  outline: none;
  box-shadow: rgb(0 0 0 / 28%) 0px 4px 10px;
}

.btn-fab img {
  width: 1.5rem;
  height: 1.5rem;
}

.btn-round {
  border-radius: 24px;
}

.btn-secondary {
  color: var(--black-3);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 28%) 0px 4px 10px;
}

/* All hover effects */

.btn-primary:hover,
.btn-link-solid:hover {
  background-color: var(--blue-1);
}

.btn-outline:hover {
  color: var(--black-1);
  border: var(--black-1) 1px solid;
}

.btn-link:hover {
  color: var(--blue-2);
}

.btn-icon img:hover {
  width: 1.5rem;
}

.btn-icon-label:hover {
  background-color: var(--blue-1);
}

.btn-fab:hover {
  background-color: var(--blue-1);
}

.btn-secondary:hover {
  background-color: var(--black-6);
}
