@import url(../Styles/common.css);

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.main-header {
  background-color: var(--bg-primary);
  color: var(--text-color-1);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgb(40 44 51 / 20%);
  z-index: 1;
  position: fixed;
  width: 100%;
}

.main-nav-links {
  display: flex;
  align-items: center;
}

.main-nav-link a:hover {
  color: var(--primary-color);
}

.main-nav-link .active {
  color: var(--primary-color);
}

.body-container {
  margin: 0 4rem;
  width: 90vw;
  margin: auto;
  margin-top: 4rem;
}

.main-side-nav {
  align-self: flex-start;
  justify-content: space-around;
  min-width: 19rem;
  width: 18%;
  position: fixed;
  margin-top: 2rem;
}

.main-side-nav h6 {
  border-bottom: 1px solid var(--black-5);
  line-height: 0;
}

.side-nav-link:hover {
  background: var(--blue-6);
  border-radius: 6px;
  padding-left: 24px;
  font-weight: bold;
  color: var(--black-1);
}

.side-nav-link > a:hover {
  cursor: pointer;
  color: var(--black-1);
}
.side-nav-link.active > a {
  color: var(--black-1);
}
.side-nav-link.active {
  background: var(--blue-5);
  border-radius: 6px;
  padding-left: 24px;
  font-weight: bold;
}
.component-nav {
  height: 50vh;
  overflow: scroll;
}
.doc-content {
  min-width: 32rem;
  width: 70%;
  margin-left: 22rem;
}

.doc-section {
  margin: 4rem 0;
}

.component-container {
  background-color: var(--black-6);
  color: var(--black-1);
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.code-container {
  max-height: 26rem;
  overflow: auto;
  border: 1px solid var(--black-6);
  border-radius: 8px;
}

.footer-container {
  background: var(--black-6);
  color: var(--black-1);
  align-items: center;
  box-shadow: 0px -4px 4px rgb(40 44 51 / 20%);
  z-index: 1;
}

.footer-container a {
  color: var(--black-1);
}

.code-container .gist .gist-file {
  margin-bottom: 0;
}

/* Small Screens */
.sub-header {
  background-color: var(--black-6);
  color: var(--black-1);
  z-index: 1;
  position: fixed;
  width: 100%;
  margin: 4rem auto;
}

.sub-header .menu-btn {
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.sub-header h5 {
  letter-spacing: normal;
}

.sub-header .menu-btn:hover {
  cursor: pointer;
}

.mobile-nav {
  margin-top: 8rem;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.35rem;
}

.mobile-nav h6 {
  border-bottom: 1px solid var(--black-5);
  line-height: 0;
  font-size: 1.5rem;
}

.mobile-nav .side-nav-link:hover,
.mobile-nav .side-nav-link.active {
  background: var(--blue-6);
  color: var(--black-1);
  border-radius: 6px;
  font-weight: bold;
}

.mobile-nav .side-nav-link > a:hover {
  cursor: pointer;
}

.sub-header {
  display: none;
}
.mobile-menu-wrapper {
  display: none;
}
.body-content-wrapper {
  display: block;
}

/* Media Queries */

@media screen and (max-width: 960px) {
  html {
    font-size: 14px;
  }
  .doc-content {
    margin-left: 16rem;
  }
  .main-side-nav {
    min-width: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .doc-content {
    margin: 6rem 2rem auto;
    width: 90%;
    min-width: 16rem;
  }
  .main-side-nav {
    display: none;
  }
  .sub-header {
    display: block;
  }
}

@media screen and (max-width: 468px) {
  html {
    font-size: 12px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #000000d9;
    --text-color-1: #ffffff;
    --text-color-2: #000000d9;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #ffffff;
    --text-color-1: #000000d9;
    --text-color-2: #ffffff;
  }
} */
