@import url(../Styles/common.css);
@import url(../Styles/Components/button.css);

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.main-header {
  background-color: var(--bg-primary);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgb(40 44 51 / 20%);
  z-index: 1;
  position: fixed;
  width: 100%;
}

.main-nav-links {
  display: flex;
}

.body-container {
  margin: 0 4rem;
  width: 90vw;
  margin: auto;
  margin-top: 4rem;
}

.main-side-nav {
  align-self: flex-start;
  justify-content: space-around;
  min-width: 304px;
  width: 18%;
  position: fixed;
}

.main-side-nav h6 {
  border-bottom: 1px solid var(--black-5);
  line-height: 0;
}

.side-nav-link:hover {
  background: var(--blue-6);
  border-radius: 6px;
  padding-left: 24px;
  font-weight: bold;
}

.side-nav-link > a:hover {
  cursor: pointer;
}

.side-nav-link.active {
  background: var(--blue-5);
  border-radius: 6px;
  padding-left: 24px;
  font-weight: bold;
}

.doc-content {
  min-width: 512px;
  width: 70%;
  margin-left: 22rem;
}

.doc-section {
  margin-top: 4rem;
}

.component-container {
  background-color: var(--black-6);
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-container {
  background: var(--black-6);
  align-items: center;
  box-shadow: 0px -4px 4px rgb(40 44 51 / 20%);
  z-index: 1;
}
