/* Headings */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 1px;
}

.h1,
h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.h2,
h2 {
  font-size: 2.5rem;
}

.h3,
h3 {
  font-size: 2rem;
}

.h4,
h4 {
  font-size: 1.75rem;
}

.h5,
h5 {
  font-size: 1.5rem;
}

.h6,
h6 {
  font-size: 1.25rem;
}

p {
  line-height: 1.75rem;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Text-alignment */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* decoration */

.text-strike-through {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.text-gray {
  color: var(--black-4);
}

/* Text-sizes */

.text-xl {
  font-size: 2rem;
}

.text-lg {
  font-size: 1.75rem;
}

.text-md {
  font-size: 1.5rem;
}

.text-sm {
  font-size: 1.25rem;
}

.text-xs {
  font-size: 1rem;
}

/* Font Weights */

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-bolder {
  font-weight: 900;
}

.component-container {
  flex-direction: column;
}
