:root {
  --primary-color: #2667ff;
  --bg-primary: #ffffff;
  --bg-secondary: #f4f7f6;

  /* variables for margin, padding, spaces */
  --sp-025: 0.25rem;
  --sp-05: 0.5rem;
  --sp-075: 0.75rem;
  --sp-1: 1rem;
  --sp-15: 1.5rem;
  --sp-2: 2rem;

  /* color variants 1-darkest 6-lightest */

  /* black color variants */
  --black-1: #000000d9;
  --black-2: #4b5563;
  --black-3: #6b7280;
  --black-4: #9ca3af;
  --black-5: #d1d5db;
  --black-6: #e5e7eb;

  /* blue color */
  --blue-1: #0000ff;
  --blue-2: #0080ff;
  --blue-3: #69c0ff;
  --blue-4: #91d5ff;
  --blue-5: #bae7ff;
  --blue-6: #e6f7ff;
  /* --blue-5: #0084ff34; */

  /* will clean it later if not used */
  /* --blue-1: #1890ff;
  --blue-2: #40a9ff;
  --blue-3: #69c0ff;
  --blue-4: #91d5ff;
  --blue-5: #bae7ff;
  --blue-6: #e6f7ff; */

  /* red color */
  --red-1: #f5222d;
  --red-2: #ff4d4f;
  --red-3: #ff7875;
  --red-4: #ffa39e;
  --red-5: #ffccc7;
  --red-6: #fff1f0;

  /* green color */
  --green-1: #52c41a;
  --green-2: #73d13d;
  --green-3: #95de64;
  --green-4: #b7eb8f;
  --green-5: #d9f7be;
  --green-6: #f6ffed;

  /* orange */
  --orange-1: #fa8c16;
  --orange-2: #ffa940;
  --orange-3: #ffc069;
  --orange-4: #ffd591;
  --orange-5: #ffe7ba;
  --orange-6: #fff7e6;
}
